html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 22px;
    margin: 10px;
}

h2{
    font-size: 20px;
    margin: 10px;
}

.container {
    margin: 0 auto;
}

.main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}

.section {
    width: 100%;
}

.nav{
    overflow: hidden;
    background-color: #c9c3c3;
}

.nav a {
    float: left;
    color: #363232;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.photo{
    max-width: 200px;
    max-height: 250px;
    margin-right: 20px;
}

.summary{
    display: flex;
    margin-left: 10px;
}

.code{
    background-color: #f7f5f5;
    max-width: 500px;
    font-size: 14px;
    padding: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px auto;

}

.rsschool-logo{
    height: 100px;
    width: 150px;
}

.github-link{
    width: 33%;
    text-decoration: none;
    font-size: 18px;
}

.copyright{
    margin-left: 30px;
    font-size: 18px;
}
